.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgb(0 0 0 / 73%);
}

.pop-up__container {
  padding: 20px;
  max-width: 500px;
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  gap: 10px;
  border: 1px solid #5f6368;
  border-radius: 8px;
  background-color: #fff;
}

.pop-up__close {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #000;
  background-color: transparent;
  border: none;
}